.App {
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 230px;
	height: 230px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
}

.banner {
	transition: all 0.5s ease;
}

.square {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: 1px solid;
	transition: all 0.5s ease;
}

.middle {
	width: 60%;
	margin: 0 auto;
	display: flex;
}
.middle button {
	margin: 1em 0.25em;
}
.middle button:nth-child(2) {
	margin-left: auto;
}
